
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inicio</title>
    <link rel="stylesheet" href="../static/index/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.4/socket.io.js"></script>
</head>
<body>
    <h1>Inicio</h1>
    
    <nav>
        <ul>
            <li><a href="test">Test</a></li>
            <hr>
            <li><a href="finger">Finger Counting</a></li>
            <li><a href="volume">Volume Hand Control</a></li>
            <li><a href="painter">Virtual Painter</a></li>
            <li><a href="prs">Paper Rock Scissors</a></li>
        </ul>
    </nav>
    
 </body>
</html>

