
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Painter</title>

    <link rel="stylesheet" href="static/tool.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.4/socket.io.js"></script>
</head>

<body>

    <div id="container">
        <video autoplay playsinline id="videoElement"></video>
        <canvas id="canvas"  width="1280" height="720"></canvas>
    </div>

    <div class = "video">
        <img id="photo"  width="1280"  height="720">
    </div>

    <!-- <div id="containerC2">
        <video autoplay playsinline id="videoElementC2" style="display: none;"></video>
        <canvas id="canvasC2"  width="1280" height="720"></canvas>
    </div>

    <div class = "video">
        <img id="photoC2"  width="1280"  height="720">
    </div> -->
    
    <script type="text/javascript" charset="utf-8">
        // Conexión al servidor mediante websocket Socket.io
        const socket = io.connect(window.location.protocol + '//' + document.domain + ':' + location.port);
        // Comprobamos la conexión con el servidor
        // El evento se ejecutará cuando se haya conectado de manera exitosa
        socket.on('connect', function(){
            console.log("Connected...!", socket.connected);
        });
    
        // Obtenemos los elementos del DOM necesarios
        const canvas = document.getElementById('canvas');
        const context = canvas.getContext('2d');
        const video = document.querySelector("#videoElement");
    
        // Establecemos el tamaño del elemento de video
        video.width = 1280;
        video.height = 800; 
    
        // Obtenemos acceso a la cámara del dispositivo
        if (navigator.mediaDevices.getUserMedia) {
            navigator.mediaDevices.getUserMedia({ video: true })
            .then(function (stream) {
                // Asignamos el stream de la cámara (lo que captura la cámara) al elemento video
                video.srcObject = stream;
                video.play();
            })
            .catch(function (e) {
                console.log(e);
            });
        }

        // Establecemos la frecuencia de actualización de la imagen capturada
        const FPS = 10;
        setInterval(() => {
            // Recogemos el ancho y alto del video
            const width = video.width;
            const height = video.height;
            // Dibujamos la imagen del video capturada de la webcam, en el canvas
            context.drawImage(video, 0, 0, width, height);
            // Convertir la imagen del canvas a formato base64
            const data = canvas.toDataURL('image/jpeg', 0.3);
            // Limpiamos el canvas (para posteriormente dibujar el siguiente frame)
            context.clearRect(0, 0, width, height);
            // Enviamos la imagen al servidor mediante emit()
            // Esta función recive la variable (servirá para establecer el nombre del canal) y la información que queremos enviar
            // La información es la imagen, esl header que especifica el color activo y la localización activa donde se está pintando
            socket.emit('image-painter', {'image':data, 'headerImage': readCookie('headerImage'), 'lineDrawed': [readCookie('xp'), readCookie('yp')]});
        }, 1000/FPS);

        // Evento que se ejecuta cuando se recibe una respuesta del servidor por el canal response_back
        // Este canal es compartido por todos los canale, para evitar la saturación de canales para el mismo usuario
        socket.on('response_back', function(image){
            // Mostramos la imagen recibida (y ya procesada) en el elemento de imagen
            photo.setAttribute('src', image );    
        });

        // Esta sería el canvas real en el que dibujamos, lo comento para facilitar el entendimiento
        /* socket.on('response_back_c2', function(image){
            photoC2.setAttribute('src', image );
        }); */

        // Las cookies se obtienen desde un websocket para evitar la recarga continua de la página
        // IMPORTANTE: Para asignar cookies desde el servidor es necesario realizar una solicitud HTTPS
        // Y como ya dijimos, las solicitudes HTTPS están aisladas unas de las otras
        // Por esto, enviamos la información de las cookies desde el websocket y se actualiza en el navegador con JS
        // Cookies que definir el color activo que está usando el usuario
        socket.on('headerImage', function(color){
            document.cookie = `headerImage=${color}`
        })
        // Cookies que definir el punto donde está pintando el usuario
        socket.on('lineDrawed', function([xp, yp]){
            document.cookie = `xp=${xp}`
            document.cookie = `yp=${yp}`;
        })

        function readCookie(name) {
            // Obtenemos todas las cookies en un array
            const cookies = document.cookie.split(';');
            // Iteramos sobre cada cookie
            for (let cookie of cookies) { 
                // Dividimos la cookie en nombre y valor
                let [cookieName, cookieValue] = cookie.split('=');
                // Eliminamos espacios en blanco alrededor del nombre de la cookie
                cookieName = cookieName.trim(); 
                // Verificamos si el nombre de la cookie coincide con el valor buscado
                if (cookieName === name)
                    // Devolvemos el valor de la cookie
                    return decodeURIComponent(cookieValue);
            }
            // Si no se encuentra la cookie, devolver null
            return null; 
        }


        // Función para eliminar una cookie
        function eliminarCookies() {
            document.cookie = "expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
        }
        

    </script>
    


 </body>

</html>

